<!DOCTYPE html>
<html>
<head>
	<title>Simple Calculator app using Vuejs</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

   <div id="app">
   	<div class="container mt-5">
   		<h2>Simple Vue Calculator</h2>
   		<div class="card">
   			
   			<div class="alert alert-danger" v-if ="hasError">
   				<strong>{{error}} </strong>
   			</div>
   			<div class="alert alert-success" v-else>
   				<strong>Result = {{ result}}</strong>
   			</div>
   			<div class="card-body">
   				<div class="row">
   					<div class="col-md-6">
   						<input type="text" name="first_num" class="form-control" @keyup="checkError" v-model="first_num" placeholder="Input First Number">
   					</div>
   					<div class="col-md-6">
   						<input type="text" name="second_num" class="form-control" @keyup="checkError" v-model="second_num" placeholder="Input Second Number">
   					</div>
   				</div>
   				<div class="row mt-3">
   					<div class="col-md-3">
   						<button type="button" class="btn btn-success btn-block" @click="plusButton">+</button>
   					</div>
   					<div class="col-md-3">
   						<button type="button" class="btn btn-success btn-block" @click="minusButton">-</button>
   					</div>
   					<div class="col-md-3">
   						<button type="button" class="btn btn-success btn-block" @click="multiplicationButton">*</button>
   					</div>
   					<div class="col-md-3">
   						<button type="button" class="btn btn-success btn-block" @click="divideButton">/</button>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>
   </div>

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <!-- vue js -->
   <script type="text/javascript" src="js/vue.js"></script>

   <script type="text/javascript">
   	var app = new Vue({
   		el: "#app",
   		data:{
           first_num :"",
           second_num :"",
           hasError : false,
           error : "",
           result :""
   		},
   		methods:{
   			plusButton(){
                var first =  Number(this.first_num)
                var second =  Number(this.second_num)
                var rslt = first + second
                this.result = rslt
   			},
   			minusButton(){
                var first =  Number(this.first_num)
                var second =  Number(this.second_num)
                var rslt = first - second
                this.result = rslt
   			},
   			multiplicationButton(){
                var first =  Number(this.first_num)
                var second =  Number(this.second_num)
                var rslt = first * second
                this.result = rslt
   			},
   			divideButton(){
                var first =  Number(this.first_num)
                var second =  Number(this.second_num)
                var rslt = first / second
                this.result = rslt
   			},
   			checkError(){
   				if (isNaN(this.first_num)) {
                	this.hasError = true
                	this.error = "Please enter a valid number"
                }else if (isNaN(this.second_num)) {
                	this.hasError = true
                	this.error = "Please enter a valid number"
                }else {
                	this.hasError = false
                	this.error = ""
                }
   			}
   		}
   	})
   </script>
</body>
</html>