<!DOCTYPE html>
<html>
<head>
	<title>Vuejs Simple note</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div id="app">
		<div class="container mt-5">
			<h2>My Notes</h2>
			<div class="card card-body" v-if="errorText.length>0">
				<div class="alert alert-danger">
					{{ errorText}}
				</div>
			</div>
			<div class="card card-body" v-if="successText.length>0">
				<div class="alert alert-success">
					{{ successText}}
				</div>
			</div>
			<div class="card card-body mt-3">
				<div class="row">
					<div class="col-sm-3">
						<p>Note Title -{{title}}</p>
						<input type="text" name="title" v-model="title" class="form-control" placeholder="Add Title">
					</div>
					<div class="col-sm-6">
						<p>Note Description -{{description}}</p>
						<textarea v-model='description'  class="form-control"></textarea>
					</div>
					<div class="col-sm-3">
						<button type="button" class="btn btn-success btn-lg mt-5" @click='addNote'>Add Note</button>
					</div>
				</div>
			</div>

			<div class="card card-body mt-5 p-3" v-for="(note ,index) in notes">
				<p>
					<button @click ="deleteNote(index)" class="btn btn-danger btn-sm mb-2">X</button>
				</p>
				<h3>{{note.title}}</h3>
				<p>{{note.description}}</p>
			</div>
		</div>
	</div>

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <!-- vue js -->
   <script type="text/javascript" src="js/vue.js"></script>
   <script type="text/javascript">
   	  var app = new Vue({
   	  	el:"#app",
   	  	data:{
            title:'',
            description:'',
            notes:[],
            errorText:'',
            successText:''
   	  	},

   	  	mounted(){
   	  		this.notes.push(
              {
              	'title':'First Note' ,
              	'description': 'First Note Description'
              },
              {
              	'title':'Second Note' ,
              	'description': 'Second Note Description'
              }

   	  	   )
   	  	},
   	  	methods:{
	   	  		addNote(){
	   	  		  let title = this.title;
	   	  		  let description = this.description;
	   	  		  if (title.length >0 && description.length > 0) {
                     let singleNote = {
                         'title': title,
                         'description': description
                         
                     }
                     this.notes.push(singleNote)
                     this.title ='';
                     this.description = '';
                     this.successText = "Note Added";
                     this.errorText ='';
	   	  		  }else{
	   	  		  	 this.successText = "";
                     this.errorText ="Please fill the fields";
	   	  		  	return;
	   	  		  }
	   	  	},
	   	  	deleteNote(noteIndex){
	   	  		this.notes.splice(noteIndex, 1);
                this.successText = "Note Deleted";
	   	  	}
   	  	}
   	  });
   </script>
</body>
</html>