<!DOCTYPE html>
<html>
<head>
	<title>Vue Js New Project</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div id="app">
		<div class="container">
			<h2>Vue CRUD</h2>

      <div class="card card-body my-3">
        <h3>Add Items</h3>
        <form @submit.prevent = "addItems">
          <input type="text" v-model="itemName" class="form-control"><br>
          {{ itemName }}
          <input type="text" v-model="itemPrice" class="form-control"><br>
          <input type="submit" name="submit" value="Add Items" class="btn btn-danger btn-sm">
        </form>
      </div>

      <div class="card card-body">
        <h3>Item List</h3>
        <div class="row">
          <div class="col-md-4">
            <ul class="list-group">
               <li class="list-group-item"v-for="item in items">{{ item.name }}-{{item.price}} Tk</li>
            </ul>
          </div>
        </div>
      </div>
		</div>
	</div>


	<!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <!-- vue js -->
   <script type="text/javascript" src="js/vue.js"></script>
   <script type="text/javascript">
   	  new Vue({
         el: "#app",
         data:{
            items:[
              {name:'Toyota',price:'200000'},
              {name:'Keya',price:'2000000'},
              {name:'Honda',price:'400000'},
              {name:'Hundai',price:'20000000'},
            ],
            itemName:'',
            itemPrice:''
         },
         methods:{
          addItems(){
             this.items.push({
              name:this.itemName,
              price:this.itemPrice
             })
          }
         }
   	  })

   </script>
</body>
</html>